<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.twocity.eyemuzei">

  <uses-permission android:name="android.permission.INTERNET"/>
  <!-- Required by RemoteMuzeiArtSource -->
  <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
  <uses-permission android:name="android.permission.WAKE_LOCK"/>

  <application
      android:name=".App"
      android:allowBackup="true"
      android:icon="@drawable/ic_launcher"
      android:label="@string/app_name"
      android:theme="@style/AppTheme">
    <activity android:name=".ui.AuthorizeActivity"
        android:label="Authorize"
        android:exported="true"/>
    <activity android:name=".ui.SettingsActivity"
        android:label="Settings"
        >
    </activity>

    <service android:name=".EyeEmArtSource"
        android:description="@string/app_description"
        android:label="@string/app_name"
        >
      <intent-filter>
        <action android:name="com.google.android.apps.muzei.api.MuzeiArtSource"/>
      </intent-filter>
      <meta-data android:name="color" android:value="#fa0"/>
      <meta-data android:name="settingsActivity"
          android:value=".ui.AuthorizeActivity"/>
    </service>
  </application>

</manifest>
